<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8" />
    <title>Content page 1</title>
</head>
<body>
<div layout:fragment="custom-content">
    <div class="d-flex col-4">
        <div class="card h-100 border-0">
            <a href="#"><img class="card-img-top rounded" style="max-height:50px; max-width:50px;" src="http://download.seaicons.com/icons/blackvariant/button-ui-requests-3/1024/Pocket-icon.png" alt=""></a>
            <div class="card-body">
                <p class="card-title m-1">제목제목</p>
                <p class="html-editor-bold m-1">내용내용</p>
                <!--<small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>-->
            </div>
        </div>
    </div>
    <div class="d-flex col-4">
        <div class="card h-100 border-0">
            <a href="#"><img class="card-img-top rounded" style="max-height:50px; max-width:50px;" src="http://download.seaicons.com/icons/blackvariant/button-ui-requests-3/1024/Pocket-icon.png" alt=""></a>
            <div class="card-body">
                <p class="card-title m-1">제목제목</p>
                <p class="html-editor-bold m-1">내용내용</p>
                <!--<small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>-->
            </div>
        </div>
    </div>
    <div class="d-flex col-4">
        <div class="card h-100 border-0">
            <a href="#"><img class="card-img-top rounded" style="max-height:50px; max-width:50px;" src="http://download.seaicons.com/icons/blackvariant/button-ui-requests-3/1024/Pocket-icon.png" alt=""></a>
            <div class="card-body">
                <p class="card-title m-1">제목제목</p>
                <p class="html-editor-bold m-1">내용내용</p>
                <!--<small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>-->
            </div>
        </div>
    </div>
</div>
</body>
</html>